body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    font-size: 16px;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabercera{
    background: #33A;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,00.75);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
}