body {
    background: #1e1f24;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    font-size: 16px;
    padding: 0;
}

#container {
   width: 70%;
   padding: 0;
   text-align: left;
   border: 1px solid #ddd;
   margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background: #37488b;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
    margin-left: -20px;
    margin-right: 10px;
    background-color: #ddd;
    border-radius: 10px
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8 rem;
}

#post {
    background: white;
    padding: 1em;
}

#footer{
    background: #37488b;
    color: white;
    text-align: center; 
}
